.hero {
  height: 804px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 100%),
    var(
      --Linear,
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0,
        rgba(255, 255, 255, 0.2) 100%
      ),
      linear-gradient(
        90deg,
        rgba(255, 92, 77, 0.2) 0,
        rgba(235, 70, 159, 0.2) 25%,
        rgba(131, 65, 239, 0.2) 72%,
        rgba(63, 104, 249, 0.2) 100%
      )
    );
}

.hero__container {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  z-index: 100;
  max-width: 1440px;
  margin: 0 auto;
}

.hero__logo {
  margin-top: 125px;
  margin-bottom: 60px;
  width: 176px;
  height: 51px;
}

.hero__image-group {
  position: absolute;
  top: 0;
  right: 0;
}

.hero__image {
  position: absolute;
  top: 45px;
  right: 59px;
  z-index: -1;
}

.hero__image-caption {
  position: absolute;
  top: 394px;
  right: 445px;
  filter: invert(1);

  animation: 20s linear normal none infinite running hero__image-caption;
}

@keyframes hero__image-caption {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero__image-ellipse {
  position: absolute;
  top: 148px;
  right: 222px;
  width: 657.8px;
  height: 401.903px;
  display: block;
  transform: rotate(-140.03deg);
  border-radius: 657.8px;
  opacity: 0.5;
  background: #8241ef;
  filter: blur(100px);
  z-index: -2;
}

.hero__title {
  margin: 0;
  max-width: 420px;

  color: #21201f;
  font-family: YS Text;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1.44px;
}

.hero__subtitile {
  margin-top: 30px;
  margin-bottom: 35px;
  width: 420px;

  color: #21201f;
  text-align: left;
  font-family: YS Text;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.hero__prices {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(255, 255, 255, 0.63) 100%
    ),
    radial-gradient(141.42% 141.42% at 100% -0%, #e0b8ff 0%, #b6b9ff 100%);
  border-radius: 500px;
  margin-left: 4px;
}

.hero__new-price {
  display: inline-block;
  padding: 0px 12px;
  box-sizing: border-box;
  border-radius: 500px;
  background: radial-gradient(
    141.42% 141.42% at 100% -0%,
    #e0b8ff 0%,
    #b6b9ff 100%
  );
}

.hero__old-price {
  display: block;
  padding: 0 12px;
  border-radius: 500px;

  color: #808080;
  font-family: YS Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-decoration: line-through;
}

.hero__btn {
  width: 222px;
  display: inline-block;
  border: none;
  padding: 22px 48px;
  border-radius: 36px;
  background: #ffde40;
  box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;

  text-decoration: none;
  text-align: center;
  color: #21201f;
  font-family: YS Text;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.hero__btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1129px) {
  .hero__image {
    width: 600px;
    height: 450px;
    object-fit: contain;
    top: 130px;
    right: 0px;
  }

  .hero__image-caption {
    width: 150px;
    height: 150px;
    object-fit: contain;
    top: 343px;
    right: 275px;
  }

  .hero__image-ellipse {
    width: 357.8px;
    height: 301.903px;
  }
}

@media screen and (max-width: 989px) {
  .hero {
    height: 900px;
  }

  .hero__image-group {
    top: 320px;
    right: 50px;
  }

  .hero__logo {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .hero__title {
    font-size: 48px;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    height: 635px;
  }

  .hero__logo {
    width: 113px;
    height: 32px;
    margin: 32px 0 25px;
  }

  .hero__title {
    max-width: 215px;
    font-size: 36px;
  }

  .hero__subtitile {
    max-width: 311px;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .hero__prices {
    border-radius: 500px;
    background: linear-gradient(
        0deg,
        rgba(241, 241, 241, 0.6) 0%,
        rgba(241, 241, 241, 0.6) 100%
      ),
      radial-gradient(141.42% 141.42% at 100% -0%, #e0b8ff 0%, #b6b9ff 100%);
  }

  .hero__new-price {
    padding: 0px 8px;
  }

  .hero__old-price {
    font-size: 13px;
    padding: 0 4px;
  }

  .hero__btn {
    display: inline;
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 18px 44px;

    font-size: 18px;
  }

  .hero__image {
    width: 320px;
    height: 266px;
    top: 0;
  }

  .hero__image-group {
    top: 300px;
    right: 30px;
  }

  .hero__image-caption {
    width: 80px;
    height: 80px;
    top: 130px;
    right: 150px;
  }

  .hero__image-ellipse {
    display: none;
  }
}
