.app {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
}

.main-padding {
  padding-left: 262px;
}

@media screen and (max-width: 1315px) {
  .main-padding {
    padding-left: 150px;
  }
}

@media screen and (max-width: 1215px) {
  .main-padding {
    padding-left: 75px;
  }
}

@media screen and (max-width: 690px) {
  .main-padding {
    padding-left: 32px;
  }
}
